<head>
  <title>JumbletroN</title>
  <script src="jquery-3.3.1.min.js"></script>
  <script language="JavaScript">
  
    /* * * *
      INTRO
     
      jumbletron - an app for displaying a jumbled collection of .jpg | .png images
      code is mostly stolen from various places around the internet
      I am very rusty with js, please excuse the cruft and dust
      this is currently lower than a prototype, IMO
      everything here is designed to be run on a dumb "kiosk" with spotty internet
        there should be no reliance on external hosts
        and no local processing with php, node, etc
    * * * */
    
    /* * * *
    TODO

       * soon
         * break up js code into component script files

      
       * later
          * allow infinite recursive directory, ie: 
            images/12345.jpg
            images/foo/23456.png
            images/mike/2019/02/01/12/06/34567.jpg
            ... etc
          * make images transition slowly -- per Juliette
          * make images display 90deg rotated to avoid having to orient screen
    
    
    * * * */
    
    // first some globals
    
    var interval = parseInt(getUrlParam('interval', 3000)); // minimum time to wait before switching an image
    var shudder = parseInt(getUrlParam('shudder', 4500)); // random time so that switching is staggered
    
    // hardcoded for "security"
    var imageDir = "/images/";
    var fileextensions = [".jpg",".png"];
    
    // initializing some globals
    var orientations = ['T', 'W'];
    var imageNum = [0, 0] // tall, wide
    imageArray = [new Array(), new Array()]; // tall, wide
    layoutArray = [];
    

    // WIP: app will read the image files and determine whether they are tall or wide
    async function readDir() {
	  $.ajax({
        url: imageDir,
		async: false,
		success: function (data) {
		  fileextensionscount = fileextensions.length;
		  for (var i = 0; i < fileextensionscount; i++) {
		  	$(data).find("a:contains(" + fileextensions[i] + ")").each(function () {
		  var filename = this.href.replace(window.location.host, "").replace("http:///", "");
		  var path = (imageDir + filename);
		  var theImage = new Image();
          theImage.onload = function () {
   			if (theImage.height > theImage.width) {
		      N = 0;
		    } else {
		      N = 1;
		    }
		    imageArray[N].push(path);
		  }
		  theImage.src = path;
		  });
		  }
		  }
		});
	 };
    
    

    // mah functions
    // TODO split these into separate files
    function imageItem(image_location) { 
      this.image_item = new Image(); 
      this.image_item.src = image_location; 
    } 
    
    function get_ImageItemLocation(imageObj) {
      return(imageObj.image_item.src) 
    }
    
    function randNum(x, y) { 
      var range = y - x + 1; 
      return Math.floor(Math.random() * range) + x; 
    }
	
	function getUrlVars() {
	  var vars = {};
	  var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
        vars[key] = value;
      });
	  return vars;
	}
	
	function getUrlParam(parameter, defaultvalue){
    var urlparameter = defaultvalue;
    if(window.location.href.indexOf(parameter) > -1){
        urlparameter = getUrlVars()[parameter];
        }
    return urlparameter;
	}
    
    function getNextImage(N) { // N = orientation: 0 = Tall, 1 = wide
      var arrayLength = (imageArray[N].length);
      if (arrayLength > 0) {
        imageNum = randNum(0, arrayLength - 1); 
        var new_image = (imageArray[N][imageNum]); 
      } else {
        new_image = '/images/placeholder/' + orientations[N] + '.jpg';
      }
      return(new_image); 
    }

	function genGrid(rows, columns){ 
      var e = document.getElementById("grid"); // whatever you want to append the rows to: 
      var cellwidth = Math.floor( 100 / columns);
      var cellheight = Math.floor( 100 / rows);
      for(var rowloop = 0; rowloop < rows; rowloop++){ 
        var row = document.createElement("div"); 
        row.className = "row"; 
        for(var cellloop = 0; cellloop < columns; cellloop++){ 
            var cellnum = (rowloop * columns) + cellloop;
            var cell = document.createElement("div"); 
            cell.className = "cell";
            cell.style.setProperty('--cellheight', cellheight + '%')
            cell.style.setProperty('--cellwidth', cellwidth + '%')
            N = (layoutArray[rowloop][cellloop]);
            var myHTML = '';
            myHTML = '<img name="slideImg_' ;
            myHTML += cellnum;
            myHTML += '" '
            myHTML += 'width="88%" border=0>';
            cell.innerHTML = myHTML;
            row.appendChild(cell); 
        } 
        e.appendChild(row); 
      } 
    }


    function switchImageAll() {
      var i = 0;
      for (row in layoutArray) {
      	for (cell in layoutArray[row]) {
      	  cellval = layoutArray[row][cell];
      	  N = orientations.indexOf(cellval);
      	  switchImage(N, ('slideImg_' + i));
      	  i++ ;
      	}
      }
    }
    
    // I don't think shudder is being re-randomized each time
    //   the end result looks good to me tho
    function switchImage(N, place) { // N = orientatioN
      var new_image = getNextImage(N);
      document[place].src = new_image;
      var recur_call = "switchImage("+N+", '"+place+"')";
      timerID = setTimeout(recur_call, interval + randNum(0, shudder)); // loops the switching
    }
    
    function buildLayoutArray(layout) {
    	var rowstext = layout.split(";");
    	for (row in rowstext) {
    		layoutArray[row] = (rowstext[row]).split("");
    	}
    	return layoutArray;
    }
    

    function letsgo() {
      layoutArray = buildLayoutArray(getUrlParam("layout", "TWT;WTW;TWT"));
      genGrid(layoutArray.length,layoutArray[0].length); // use the first row to determine width -- danger
      readDir();
      switchImageAll();
    }
    
  </script>
  <!-- 
    css and html is currently hardcoded for 3x3
    TODO: make dynamic based on URL 
  -->
  <style type="text/css">
    :root {
      --cellheight: 33%;
      --cellwidth: 33%;
    }
    
    html, body {
        color: white;
        background-color: #333;
        padding: 0;
        margin: 0;
    }
    .grid {
        display: table;
        height: 100%;
        width: 100%;
    }
    .grid > div {
        display: table-row;
        width: 100%;
    }
    .grid > div > div {
        display:table-cell;
        height: var(--cellheight);
        width: var(--cellwidth);
    }    
    div {
      outline: 18px white;
      display: inline-block;
      vertical-align: middle;
      text-align: center;
    }
  </style>
</head>
<body onLoad="letsgo()">
  <div class="grid" id="grid">
  </div>
</body>